html {
  background-color: rgb(174, 179, 179);
}
.App  {
  width: 100%;
  background-color: rgb(174, 179, 179);
}
#main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}
#savebtn {
  width: 15%;
  padding: 20px;
  border: 4px solid #fff;
  font-size: 25px;
  background-color: rgb(174, 179, 179);
  color: #fff;
  font-family:'Courier New', Courier, monospace;
}
#savebtn:hover {
    box-shadow: 0 0.5em 1.5em -0.4em;
    cursor: pointer;
  }
  nav {
    position: fixed;
    top: 0;
    right: 0; 
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 100%;
    overflow: scroll;
  }
  
header {
  text-align: left;
  background-color: rgb(84, 192, 192);
  padding: 5px 5px;
}
header p {
  font-weight: bold;
  color: #fff;
}
form {
  padding: 20px 20px 20px 20px;
  width: 90%;
  /* height: 450px; */
}
.segmentname input {
  padding: 8px;
  width: 90%;
  margin: 10px 0;
}
.indicator {
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
  margin-bottom: 15px;
}
.bluebox {
  border: 2px solid blue;
  padding: 10px 0;
}

.field i {
  margin: auto;
}
form select {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}
.boxfield {
  display: flex;
  flex-direction: row;
}
.schemename {
  display: flex;
}
.fa-minus {
  padding: 10px;
  background-color: rgb(241, 244, 247);
  color: #969292;
  font-size: 20px;
}
.schemabtn {
  width: 32%;
  text-align: left;
  text-decoration: underline;
  border: hidden;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 100px;
}
footer {
    vertical-align: bottom;
    padding: 0 20px;
}
.segsavebtn {
  padding: 10px;
  background-color: rgb(84, 192, 192);
  border: hidden;
  border-radius: 5px;
  cursor: pointer;
}
.cancelbtn {
  color: red;
  border: hidden;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}